[Unit]
Description = Prometheus Service

[Service]
User=bin
WorkingDirectory=/opt/prometheus-{{ version }}.linux-amd64
ExecStart=/opt/prometheus-{{ version }}.linux-amd64
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target
